#_staging.env_#
BOT_TOKEN=token

# Admin Tools Settings #
ERRORS_IN_PAGE=5

# Bot Embed Settings #
EMBED_AUTHOR_NAME=PlankBot Evolved
EMBED_AUTHOR_LINK=https://discord.com/api/oauth2/authorize?client_id=890537505605181480&permissions=8&scope=bot
EMBED_AUTHOR_ICON=https://cdn.discordapp.com/avatars/890537505605181480/527f12cab8952bac0ecbaae7847fd6c4.webp?size=256
EMBED_DEFAULT_COLOR=0x8a7c74
EMBED_MONEY_COLOR=0xc6a801
EMBED_ERROR_COLOR=0xff0000
EMBED_SUCCESS_COLOR=0x00c800